@{
    ViewData["Title"] = "Contact";
    string captchaQuestion = "What is " + Model.CaptchaModel.Number1 + " + " + Model.CaptchaModel.Number2 + "?";
}

@model Mail

<section class="contact">
    <h1>@ViewData["Title"]</h1>

    <p>
        This form will be sent to Stijn, the developer of this website!
    </p>

    <form method="post" class="form-contactpagina" asp-controller="Contact" asp-action="SendMail">

        @if (ViewBag.SubmitSuccess != null && ViewBag.SubmitSuccess) {
            <p class="success-text">
                Mail is verzonden
            </p>
        }

        @if (ViewBag.ErrorMessage != null) {
            <p class="fail-text">
                @ViewBag.ErrorMessage
            </p>
        }

        <div class="input-invalid-message-container hide"></div>
        
        <div class="form-contactpagina__inputelement fx-col">
            <label asp-for="EmailModel.FirstName"></label>
            <input asp-for="EmailModel.FirstName" />
            <span asp-validation-for="EmailModel.FirstName" class="fail-text"></span>
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label asp-for="EmailModel.LastName"></label>
            <input asp-for="EmailModel.LastName" />
            <span asp-validation-for="EmailModel.LastName" class="fail-text"></span>
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label asp-for="EmailModel.Email"></label>
            <input asp-for="EmailModel.Email" />
            <span asp-validation-for="EmailModel.Email" class="fail-text"></span>
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label asp-for="EmailModel.Subject"></label>
            <input asp-for="EmailModel.Subject" />
            <span asp-validation-for="EmailModel.Subject" class="fail-text"></span>
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label asp-for="EmailModel.Message"></label>
            <textarea asp-for="EmailModel.Message" ></textarea>
            <span asp-validation-for="EmailModel.Message" class="fail-text"></span>
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label for="CaptchaModel.UserAnswer">
                @captchaQuestion
            </label>
            <input asp-for="CaptchaModel.UserAnswer" />
            <span asp-validation-for="CaptchaModel.UserAnswer" class="fail-text"></span>
            <input asp-for="CaptchaModel.Number1" />
            <input asp-for="CaptchaModel.Number2" />
        </div>

        <div class="form-contactpagina__inputelement">
            <input type="submit" value="Verstuur!">
        </div>

    </form>

    <script>
        document.querySelector('.form-contactpagina').addEventListener("submit", (e) => {
            // I'm not a fan of using jquery but this is needed because of the validation library
            if ($(".form-contactpagina").valid())
                document.querySelector(".spinner-container").classList.remove("hide");
        });
    </script>   

    <div class="spinner-container fixed-center hide">
        <img class="spinner" src="~/media/svgs/loading-spinner.svg" alt="Loading spinner" />
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}