<div id="deleteConfirmationModal" class="modal hide">
    <div class="modal-content">
        <h2>Delete Confirmation</h2>
        <form asp-action="Delete" asp-controller="Lobby" method="post" id="deleteForm">
            <input type="hidden" id="lobbyId" name="Id" />
            <input type="submit" value="Delete" />
        </form>
        <button class="btn btn-primary cancelBtn">Cancel</button>
    </div>
</div>

<script>
    var modal = document.getElementById('deleteConfirmationModal')
    var deleteButtons = modal.getElementsByClassName("deleteBtn")
    var cancelButton = modal.querySelector(".cancelBtn")

    for (var i = 0; i < deleteButton.length; i++) {
        deleteButton[i].onclick = function () {
            var lobbyId = this.getAttribute("data-lobbyid")
            document.getElementById("lobbyId").value = lobbyId
            modal.classList.remove("hide")
        }
    }

    cancelButton.onclick = function () {
        modal.classList.add("hide")
    }

    window.onclick = function (event) {
        if (event.target == modal)
            modal.classList.add("hide")
    }
</script>
