@model IEnumerable<LobbyListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <tbody>
    @foreach (var lobby in Model) {
        <tr>
            <td>@lobby.Name</td>
            <td>
                <form class="inlineForm" asp-action="Join" method="post">
                    <input type="hidden" name="id" value="@lobby.Id" />
                    <input class="btn btn-primary" type="submit" value="Join" />
                </form>
        @if (User.IsInRole("Admin")) {
                        <button class="btn btn-danger deleteBtn" data-lobby-name="@lobby.Name" data-lobby-id="@lobby.Id" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Delete</button>
        }
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

@if (User.IsInRole("Admin")) {
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel"> Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Loby name:</p>
                    <p class="lobbyName"></p>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete" method="post" id="deleteForm">
                        <input type="hidden" id="lobbyId" name="id" />
                        <input type="submit" class="btn btn-primary" value="Delete" />
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var deleteConfirmationModal = document.getElementById('deleteConfirmationModal')
        deleteConfirmationModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var lobbyId = button.getAttribute('data-lobby-id')
            var lobbyName = button.getAttribute('data-lobby-name')
            console.log(button, lobbyId, lobbyName)
            deleteConfirmationModal.querySelector('.lobbyName').textContent = lobbyName
            deleteConfirmationModal.querySelector('#lobbyId').value = lobbyId
        })
    </script>
}
