@model IEnumerable<LobbyListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <tbody>
    @foreach (var lobby in Model) {
        <tr>
            <td>@lobby.Name</td>
            <td>
                <form asp-action="Join" method="post">
                    <input type="hidden" name="id" value="@lobby.Id" />
                    <input class="btn btn-primary" type="submit" value="Join" />
                </form>
            </td>
            <td>
        @if (User.IsInRole("Admin")) {
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@lobby.Id" />
                    <input class="btn btn-danger" type="submit" value="Delete" />
                </form>
        }
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

@if (User.IsInRole("Admin")) {
    <partial name="_AdminDeleteConfirmation.cshtml" />
}
