@{
    ViewData["Title"] = "Profile";
}

<section class="personalia">
    <img class="person-logo" src="~/media/images/svb-pasfoto.jpg">
    <h1 class="person-name">Stijn van Boesschoten</h1>
</section>
<section class="profile">
    <section class="profile-content">
        <header class="profile-content__category">
            <h3 class="profile-content__category-title">Profiel</h3>
            <hr>
        </header>
        <div class="profile-content__element">
            <div class="profile-content__element-header"></div>
            <p class="profile-content__description">
                Ik houd van gamen en kijken
                naar films en series. Ik ben
                geïnteresseerd in leren. Ik
                probeer twee talen leren
                spreken. Hiernaast ben ik ook
                begonnen met het spelen van
                nieuwe instrumenten.
        </div>
    </section>
    <section class="profile-content">
        <header class="profile-content__category">
            <h3 class="profile-content__category-title">Opleidingen</h3>
            <hr>
        </header>
        <div class="profile-content__element">
            <div class="profile-content__element-header">
                <h4 class="profile-content__title">HBO-ICT</h4>
                <p class="profile-content__period">2019 – Heden</p>
            </div>
            <p class="profile-content__institute">Windesheim, Zwolle</p>
        </div>
        <div class="profile-content__element">
            <div class="profile-content__element-header">
                <h4 class="profile-content__title">MBO-Applicatie- en Mediaontwikkelaar (behaald)</h4>
                <p class="profile-content__period">2016 – 2019</p>
            </div>
            <p class="profile-content__institute">Drenthe college, Assen</p>
        </div>

        <div class="profile-content__element">
            <div class="profile-content__element-header">
                <h4 class="profile-content__title">VMBO-TL Afgerond. (behaald)</h4>
                <p class="profile-content__period">2012 – 2016</p>
            </div>
            <p class="profile-content__institute">RSG Wolfsbos, Groene Driehoek in Hoogeveen</p>
        </div>
    </section>
    <section class="profile-content">
        <header class="profile-content__category">
            <h3 class="profile-content__category-title">Skills</h3>
            <hr>
        </header>
        <h4>Ervaren programmeertalen</h4>
        <ul class="profile-content__element-list">
            <li class="profile-content__element-list-item">Rust</li>
            <li class="profile-content__element-list-item">GoLang</li>
            <li class="profile-content__element-list-item">C++</li>
            <li class="profile-content__element-list-item">Lua</li>
            <li class="profile-content__element-list-item">C#</li>
            <li class="profile-content__element-list-item">JavaScript</li>
            <li class="profile-content__element-list-item">Python</li>
            <li class="profile-content__element-list-item">Powershell</li>
            <li class="profile-content__element-list-item">Java</li>
            <li class="profile-content__element-list-item">CSS</li>
            <li class="profile-content__element-list-item">HTML</li>
            <li class="profile-content__element-list-item">PHP</li>
        </ul>
        <h4>Webshop/Framework</h4>
        <ul class="profile-content__element-list">
            <li class="profile-content__element-list-item">.Net Framework</li>
            <li class="profile-content__element-list-item">NodeJS</li>
            <li class="profile-content__element-list-item">WordPress</li>
            <li class="profile-content__element-list-item">CCV Shop</li>
            <li class="profile-content__element-list-item">Magento</li>
        </ul>
    </section>
</section>
